.centered-container{
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  background-color: grey;
}
#quote-box{
  background-color: white;
  padding: 40px;
  display: flex;
  flex-direction: column;

  border-radius: 3px;
  max-width: 50%;

}
#text{
font-size: 120%;
font-family: 'Raleway', sans-serif;


font-weight: 1000;

}
.author-container{
  margin-left: auto;
  margin-top: 10px;
  font-weight: 600;
}
#newQ-tweet{
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
button{
  border-radius: 3px;
  font-size: 120%;
  color: white;
  border: none;
  padding: 7px;
  font-weight: 600;
  cursor: pointer;
  transition: width 0.2s ease-in-out, transform 0.2s ease-in-out;
}
button:hover{
  width: 120px;
  transform: scale(1.1);
}
.fade-in {
  opacity: 1;
  transition: opacity 0.5s ease-in;
}

@media  screen and (min-width: 1200px) {
  #quote-box{
    max-width: 500px;
  }
}

@media screen and (max-width: 600px) {
  #quote-box{
    display: flex;
    flex-direction: column;
    height: none;
    
  }
  #text{
    font-size: 150%;
    font-weight: 600;
  }
  #newQ-tweet{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 10px;
    position: static;
    
  }
}